body {
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    background-color: white;
	margin: 0;
    padding: 0;
	background: 0;

}
body {
    background: white url(http://hdwall.us/wallpaper_1680x1050/rfonline_fantasy_romance_desktop_1280x1024_hd-wallpaper-153781.jpg) no-repeat center fixed;
}
